/* You can add global styles to this file, and also import other style files */
@import "../src/app/layout/themes/table.scss";

@import "../src/app/layout/themes/snack-bar.scss";



html,
body {
  margin: 0;
  padding: 0;
  scrollbar-width: none !important;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.page {
  padding: 32px 32px 0;
  // max-width: 1280px;
  margin-left: 20px !important;
  height: calc(100% - 64px);
}

// @media (min-width: 1201px) {
//   .page {
//     height: calc(100vh - 200px) !important;
//   }
// }

.tab {
  max-width: 1650px;
  margin-top: 24px;

  &-group {
    width: 100%;
    max-width: 1000px;
    
    
  }

  &-item {
    cursor: default;
    margin-bottom: 8px !important;
    color: #2F3133;
    
  }

  &-border {
    border-bottom: 10px solid #b8bdbf;
    border-radius: 4px;
    
  }


  .done {
    .tab-border {
      border-color: #ff6a39 !important;
     
    }
  }

  .active {
    p {
      color: #ff6a39;
    }
  }

  .disabled {
    cursor: not-allowed !important;
    color: grey;
    opacity: 0.5;

    p {
      cursor: not-allowed !important;
    }
  }
}

.navigation-buttons {
  margin: auto;
  width: 100%;
  position: relative;
  display: flex;
  bottom: 0;
  margin-top: 12px;
}

.title {
  margin-bottom: 24px !important;
}

.table-button {
  height: 100%;

  mat-icon {
    color: #753BBD;
  }
}

.confirm-modal {
  mat-dialog-container {
    min-width: 300px;
    max-width: 320px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #673ab7;
    p {
      letter-spacing: 0.25px;
    }
    button.delete {
      color: #673ab7;
    }
  }
}

.checkbox{
  margin-top: 18px;
}

.form-checkbox{
  margin-top: 3px;
}

.mat-option:hover{
  background: #D0E7EF !important;
}

.mat-selected{
  background: #D0E7EF !important;
}

.mat-row:hover{
  background: #D0E7EF !important;
}

.custom-frame {
  & .mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 70% !important;
    // width: 20px;
    // height: 20px;
  }
}

h2{
  color: #2F3133 !important;
}

// #A6D6E5
// #E30F0F


.mat-sort-header-arrow ng-trigger ng-trigger-arrowPosition ng-tns-c284-50 ng-star-inserted{
  margin-left: 200px !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



