<div id="resumeInterviewTab" class="tab">
    <div class="content-scroll" >
        <mat-list role="list" #experiencesList class="list-group">
            <mat-list-item class="list-group-item" fxLayout="row" fxFlex="100">
                <div class="text-div" fxLayout="column" fxFlex="50">
                    <span class="label-office">
                        {{ 'Wellington Almeida' }}
                    </span>
                    <span class="label-subtitle">
                        <b>{{ 'Dados Gerais' }}</b>
                    </span>
                    <span class="label-gray">
                        <b>{{ 'generic.cpf' | translate }}:</b>
                        {{'601.855.300-79'}}
                    </span>
                    <span class="label-gray">
                        <b>{{ 'generic.birth_date' | translate }}:</b>
                        {{'01/09/1976'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'Sexo'}}:</b>
                        {{'Masculino'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'Estado Civil'}}:</b>
                        {{'Casado'}}
                    </span>
                    <span class="label-gray">
                        <b>{{ 'generic.address.city' | translate }}:</b>
                        {{'Blumenau'}}
                    </span>
                    <span class="label-gray">
                        <b>{{ 'generic.address.district' | translate }}:</b>
                        {{'Vila Nova'}}
                    </span>
                    <span class="label-subtitle">
                        <b>{{ 'Contato' }}</b>
                    </span>
                    <span class="label-gray">
                        <b>{{ 'generic.email' | translate }}:</b>
                        {{'wellington@hotmail.com'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'Telefone'}}:</b>
                        {{'(47) 99283-2513'}}
                    </span>
                    <span class="label-gray">
                        <b>{{ 'generic.linkedIn' | translate }}:</b>
                        {{'wellington.almeida'}}
                    </span>
                    <span class="label-subtitle">
                        <b>{{'generic.education.schooling.name'|translate}}</b>
                    </span>
                    <span class="label-gray">
                        <b>{{'Nível'}}:</b>
                        {{'Ensino superior'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'generic.education.schooling.course'|translate}}:</b>
                        {{'Engenharia de Software'}}
                    </span>
                    <span class="label-subtitle">
                        <b>{{'Idiomas'}}</b>
                    </span>
                    <span class="label-gray">
                        <b>{{'Língua'}}:</b>
                        {{'Inglês'}}
                    </span>
                    <span class="label-gray">
                        <b>{{ 'Grau de fluência' }}:</b>
                        {{'Fluente'}}
                    </span>
                    <span class="label-subtitle">
                        <b>{{'Skills'}}</b>
                    </span>
                    <span class="label-gray">
                        <b>{{'generic.skills.technology'|translate}}:</b>
                        {{'PHP'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'generic.seniority.name' | translate}}:</b>
                        {{'teste'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'generic.skills.time_experience'|translate}}:</b>
                        {{'5 anos'}}
                    </span>
                </div>
                <div class="job-text" fxLayout="column" fxFlex="50" fxLayoutAlign="start start">

                    <span class="label-area ">
                        <b>{{'Experiência'}}</b>
                    </span>
                    <span class="label-gray">
                        <b>{{'generic.responsibility'|translate}}:</b>
                        {{'Gerente de Operações'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'Data de início'}}:</b>
                        {{'27/05/2020'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'Data de término'}}:</b>
                        {{'27/05/2029'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'Setor'}}:</b>
                        {{'Tecnologia'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'Descrição'}}:</b>
                        {{'A função de gerente de operações é principalmente implementar as práticas e os
                        processos corretos em toda a organização.
                        Os deveres específicos de um gerente de operações incluem formular estratégias,
                        melhorar o desempenho, adquirir materiais e recursos e
                        garantir a conformidade. Você deve estar pronto para orientar os membros da equipe,
                        encontrar maneiras de aumentar a qualidade do serviço
                        ao cliente e implementar as melhores práticas em todos os níveis. Por fim,
                        confiaremos em você para nos ajudar a permanecer em conformidade,
                        eficiente e rentável durante o curso dos negócios. Garantir que todas as operações
                        sejam realizadas de maneira apropriada e econômica
                        Melhorar sistemas, processos e práticas recomendadas de gerenciamento operacional.
                        Comprar materiais, planejar inventário e supervisionar a eficiência do armazém
                        Ajudar os processos da organização a permanecerem em conformidade com a lei.
                        Formular objetivos estratégicos e operacionais. Examinar dados financeiros e usá-los
                        para melhorar a lucratividade
                        Gerenciar orçamentos e previsões. Executar controles de qualidade e monitorar KPIs
                        de produção. Recrutar, treinar e supervisionar funcionários
                        Encontrar maneiras de aumentar a qualidade do serviço ao cliente'}}
                    </span>

                    <span class="label-gray">
                        <b>{{'resumes.resume_experience.company_name'|translate}}:</b>
                        {{'Envolti'}}
                    </span>
                    <span class="label-gray">
                        <b>{{'generic.responsibility'|translate}}:</b>
                        {{'Gerente de Operações'}}
                    </span>

                </div>
            </mat-list-item>
        </mat-list> 
    </div>
</div>
       