<div id="collaboratorEducationTab" class="tab">
  <div class="content-scroll">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label> Escolaridade </ng-template>
        <form
          (submit)="next()"
          [formGroup]="collaboratorForm"
          fxLayout="column"
        >
          <div fxFlex="100" fxLayoutGap="16px">
            <mat-form-field fxFlex="35" appearance="outline">
              <mat-label>Escolaridade</mat-label>
              <mat-select
                matInput
                disableRipple
                formControlName="collaboratorGroup"
              >
                <mat-option value="1">Ensino Médio</mat-option>
                <mat-option value="2">Ensino Técnico</mat-option>
                <mat-option value="3">Ensino Superior</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="65" appearance="outline">
              <mat-label>Curso</mat-label>
              <input
                matInput
                placeholder="Curso"
                formControlName="collaboratorGroup"
              />
            </mat-form-field>
          </div>
          <div fxFlex="100" fxLayoutGap="16px">
            <mat-form-field fxFlex="65" appearance="outline">
              <mat-label>Instituição</mat-label>
              <input
                matInput
                placeholder="Instituição"
                formControlName="collaboratorGroup"
              />
            </mat-form-field>
            <mat-form-field fxFlex="30" appearance="outline">
              <mat-label>Situação</mat-label>
              <mat-select
                matInput
                disableRipple
                formControlName="collaboratorGroup"
              >
                <mat-option value="1">Parado</mat-option>
                <mat-option value="2">Concluído</mat-option>
                <mat-option value="3">Em Andamento</mat-option>
              </mat-select>
            </mat-form-field>
            <button
              fxFlex="5"
              class="edit-button"
              mat-flat-button
              color="primary"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </form>
        <div class="envolti-table mat-elevation-z8" fxLayout="column">
          <table mat-table [dataSource]="dataEducation">
            <ng-container matColumnDef="schooling">
              <th mat-header-cell *matHeaderCellDef>Escolaridade</th>
              <td mat-cell *matCellDef="let education">
                {{ education.schooling }}
              </td>
            </ng-container>

            <ng-container matColumnDef="situation">
              <th mat-header-cell *matHeaderCellDef>Situação</th>
              <td mat-cell *matCellDef="let education">
                {{ education.situation }}
              </td>
            </ng-container>

            <ng-container matColumnDef="course">
              <th mat-header-cell *matHeaderCellDef>Curso</th>
              <td mat-cell *matCellDef="let education">
                {{ education.course }}
              </td>
            </ng-container>

            <ng-container matColumnDef="institution">
              <th mat-header-cell *matHeaderCellDef>Instituição</th>
              <td mat-cell *matCellDef="let education">
                {{ education.institution }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedEducation; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedEducation"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> Idiomas </ng-template>
        <form
          class="lenguange-form"
          (submit)="next()"
          [formGroup]="collaboratorForm"
          fxLayout="column"
        >
          <div fxFlex="100" fxLayoutGap="16px">
            <mat-form-field fxFlex="45" appearance="outline">
              <mat-label>Idioma</mat-label>
              <mat-select
                matInput
                disableRipple
                formControlName="collaboratorGroup"
              >
                <mat-option value="1">Russo</mat-option>
                <mat-option value="2">Inglês</mat-option>
                <mat-option value="3">Alemão</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="50" appearance="outline">
              <mat-label>Grau de Fluência</mat-label>
              <mat-select
                matInput
                disableRipple
                formControlName="collaboratorGroup"
              >
                <mat-option value="1"
                  >Escrita, Leitura e Conversação</mat-option
                >
                <mat-option value="2">Escrita</mat-option>
                <mat-option value="3">Leitura</mat-option>
                <mat-option value="4">Conversação</mat-option>
                <mat-option value="5">Escrita e Leitura</mat-option>
                <mat-option value="5">Escrita e Conversação</mat-option>
              </mat-select>
            </mat-form-field>

            <button
              fxFlex="5"
              class="edit-button"
              mat-flat-button
              color="primary"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </form>
        <div class="envolti-table mat-elevation-z8" fxLayout="column">
          <table mat-table [dataSource]="dataLanguage">
            <ng-container matColumnDef="language">
              <th mat-header-cell *matHeaderCellDef>Idioma</th>
              <td mat-cell *matCellDef="let language">
                {{ language.language }}
              </td>
            </ng-container>

            <ng-container matColumnDef="fluency">
              <th mat-header-cell *matHeaderCellDef>Fluência</th>
              <td mat-cell *matCellDef="let language">
                {{ language.fluency }}
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedLanguage; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedLanguage"></tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
