#collaboratorCreate {
  max-width: 1650px;
  .tab-group {
    width: 100%;
    cursor: pointer;
  }

  .tab-item {
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
  }

  .content-scroll {
    overflow: auto;
    height: calc(100vh - 280px);
  }

  .title {
    margin: 0 !important;
  }

  h2{
    color: #2F3133;
    padding-top: 3.5px !important;
  }
}
