#activeDirectory{
    .label{
        margin-top: 50px;
    }

    .form-control{
        width:60px;
        width: 100%;
    }
    
    .navigation-buttons {
        margin: auto;
        width: 100%;
        position: relative;
        display: flex;
        bottom: 0;
        margin-top: 12px;
      }
}