#collaboratorFinanceTab {
  padding-bottom: 10px;

  table {
    width: 100%;

  }

  .edit-button {
    height: 50px;
    margin-top: 5px;
  }

  .envolti-table {
    overflow: auto;
    max-height: 300px;
  }



}
