#resumeCreate {
  .tab-group {
    width: 100%;
    cursor: pointer;
  }

  .tab-item {
    white-space: nowrap;
    overflow: hidden;
  }

  .content-scroll {
    overflow: auto;
    height: calc(100vh - 290px);
  }

  // .navigation-buttons {
  //   margin-bottom: 18px;
  // }
}
