<div id="collaboratorBankTab" class="tab">
  <div class="content-scroll">
    <div fxLayout="row">
      <div class="envolti-table mat-elevation-z8" fxLayout="column">
        <table mat-table [dataSource]="data" #bankTable>
          <ng-container matColumnDef="bank">
            <th mat-header-cell *matHeaderCellDef>{{'collaborator.colaborator_create.bank.name' | translate}}</th>
            <td mat-cell *matCellDef="let bank">
              {{ bank.bank }}
            </td>
          </ng-container>

          <ng-container matColumnDef="agency">
            <th mat-header-cell *matHeaderCellDef>{{'collaborator.colaborator_create.bank.agency' | translate}}</th>
            <td mat-cell *matCellDef="let bank">
              {{ bank.agency }} - {{ bank.digit }}
            </td>
          </ng-container>

          <ng-container matColumnDef="accountType">
            <th mat-header-cell *matHeaderCellDef>{{'collaborator.colaborator_create.bank.type.name' | translate}}</th>
            <td mat-cell *matCellDef="let bank">
              {{
              bank.accountType == 1
              ? 'Conta Corrente'
              : bank.accountType == 2
              ? 'Conta Salário'
              : 'Conta Poupança'
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef>{{'collaborator.colaborator_create.bank.account_number' | translate}}
            </th>
            <td mat-cell *matCellDef="let bank">
              {{ bank.accountNumber }} - {{bank.bankAccountDigit}}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let bank">
              {{ bank.inactive == 1 ? 'Inativo' : 'Ativo' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef style="text-align: end">
              <button class="edit-button" mat-flat-button color="primary" (click)="openDialog()">
                <mat-icon>add</mat-icon>
              </button>
            </th>

            <td class="button-tab" mat-cell *matCellDef="let bank">
              <button class="table-button" mat-button (click)="getBank(bank, bank.id)">
                <mat-icon>edit</mat-icon>
              </button>

              <button class="table-button" mat-button (click)="deleteBank(bank.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedBank; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedBank"></tr>
        </table>
      </div>
    </div>
  </div>
</div>