#collaboratorBankTab {
  padding-bottom: 10px;
  max-width: 1650px;

  .envolti-table {
    margin-top: 20px;
    overflow: auto;
    max-height: 600px;
    width: 100%;
    border-radius: 10px;


    .mat-column-icon {
      width: 50px;
    }

    .button-tab {
      white-space: nowrap;
      overflow: hidden;
    }

  }
}

#collaboratorBankDialog {
  .button-dialog {
    margin-left: 140px;

  }

  .checkbox {
    margin-top: 15px;
  }

  .title-dialog {
    text-align: center;
  }
}