<div id="collaboratorBankDialog">
  <div class="content-scroll" *ngIf="bankForm">
    <h2 class="title-dialog" mat-dialog-title>{{'collaborator.colaborator_create.bank.bank_registration' | translate}}</h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="bankForm" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>{{'collaborator.colaborator_create.bank.name' | translate}}</mat-label>
          <input
            matInput
            disableRipple
            formControlName="bank"
            placeholder="Banco" />
            <mat-error *ngIf="bankForm &&
            bankForm.controls['bank'].hasError('required')">
              {{'validators.validator-required' |  translate}} </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxFlex="100" fxLayoutGap="16px">
          <mat-form-field appearance="outline" fxFlex="75">
            <mat-label>{{'collaborator.colaborator_create.bank.type.name' | translate}}</mat-label>
            <mat-select formControlName="accountType">
              <mat-option [value]="1">{{'collaborator.colaborator_create.bank.type.checking_account' | translate}}</mat-option>
              <mat-option [value]="2">{{'collaborator.colaborator_create.bank.type.salary_account' | translate}}</mat-option>
              <mat-option [value]="3">{{'collaborator.colaborator_create.bank.type.savings_account' | translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="bankForm &&
            bankForm.controls['accountType'].hasError('required')">
              {{'validators.validator-required' |  translate}} </mat-error>
          </mat-form-field>
          <br />
          <mat-checkbox
            class="checkbox"
            color="primary"
            fxFlex="25"
            formControlName="status">
            {{'generic.active' | translate}}
          </mat-checkbox>
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutGap="16px">
          <mat-form-field fxFlex="75" appearance="outline">
            <mat-label>{{'collaborator.colaborator_create.bank.agency' | translate}}</mat-label>
            <input
              matInput
              disableRipple
              formControlName="agency"
              mask="0000"
              placeholder="Agência" />
              <mat-error *ngIf="bankForm &&
            bankForm.controls['agency'].hasError('required')">
              {{'validators.validator-required' |  translate}} </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="25" appearance="outline">
            <mat-label>{{'collaborator.colaborator_create.bank.digit' | translate}}</mat-label>
            <input
              matInput
              disableRipple
              formControlName="digit"
              mask="0"
              placeholder="Digito" />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxFlex="100" fxLayoutGap="16px">
          <mat-form-field fxFlex="75" appearance="outline">
            <mat-label>{{'collaborator.colaborator_create.bank.account_number' | translate}}</mat-label>
            <input
              matInput
              disableRipple
              formControlName="accountNumber"
              mask="00000"
              placeholder="Número Conta" />
              <mat-error *ngIf="bankForm &&
              bankForm.controls['accountNumber'].hasError('required')">
                {{'validators.validator-required' |  translate}} </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="25" appearance="outline">
            <mat-label>{{'collaborator.colaborator_create.bank.digit' | translate}}</mat-label>
            <input
              matInput
              disableRipple
              formControlName="bankAccountDigit"
              mask="0"
              placeholder="Digito" />
          </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="button-dialog">
        <button mat-flat-button mat-dialog-close (click)="onNoClick()">
          {{'generic.cancel_button' | translate}}
        </button>
        <button
          mat-flat-button
          [mat-dialog-close]="true"
          color="primary"
          [disabled]="bankForm.invalid"
          (click)="save()">
          {{'generic.save_button' | translate}}
        </button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
