#collaboratorBankTab {
    max-width: 800px;
      
    .edit-button {
        height: 40px;
        margin-top: 8px;
      }

      .envolti-table {
        
    .mat-column-icon{
      width: 50px;
    }
      }
}
