<div id="CollaboradorDependentsDialog" class="dialog">
  <div class="content-scroll" *ngIf="dependentForm">
    <h2 class="title-dialog" mat-dialog-title>{{'collaborator.colaborator_create.dependents.dependent_registration' |
      translate}}</h2>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="dependentForm" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>{{'collaborator.colaborator_create.dependents.type.name' | translate}}</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="1">{{'collaborator.colaborator_create.dependents.type.spouse' | translate}}
            </mat-option>
            <mat-option [value]="2">{{'collaborator.colaborator_create.dependents.type.son' | translate}}</mat-option>
            <mat-option [value]="3">{{'collaborator.colaborator_create.dependents.type.stepson' | translate}}
            </mat-option>
            <mat-option [value]="4">{{'collaborator.colaborator_create.dependents.type.dad' | translate}}</mat-option>
            <mat-option [value]="5">{{'collaborator.colaborator_create.dependents.type.mom' | translate}}</mat-option>
          </mat-select>
          <mat-error *ngIf="dependentForm &&
          dependentForm.controls['type'].hasError('required')">
            {{'validators.validator-required' | translate}} </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'generic.name' | translate}}</mat-label>
          <input matInput disableRipple formControlName="firstName" placeholder="Nome" />
          <mat-error *ngIf="dependentForm &&
            dependentForm.controls['firstName'].hasError('required')">
            {{'validators.validator-required' | translate}} </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'generic.last_name' | translate}}</mat-label>
          <input matInput disableRipple formControlName="lastName" placeholder="Sobrenome" />
          <mat-error *ngIf="dependentForm &&
            dependentForm.controls['lastName'].hasError('required')">
            {{'validators.validator-required' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'generic.gender.name' | translate}}</mat-label>
          <mat-select formControlName="gender">
            <mat-option [value]="1">{{'generic.gender.feminine' | translate}}</mat-option>
            <mat-option [value]="2">{{'generic.gender.masculine' | translate}}</mat-option>
            <mat-option [value]="3">{{'generic.gender.undefined' | translate}}</mat-option>
          </mat-select>
          <mat-error *ngIf="dependentForm &&
          dependentForm.controls['gender'].hasError('required')">
            {{'validators.validator-required' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'generic.cpf' | translate}}</mat-label>
          <input matInput disableRipple formControlName="cpf" mask="000.000.000-00" placeholder="CPF" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'generic.birth_date' | translate }}</mat-label>
          <input matInput mask="00/00/0000" [showMaskTyped]="true" [dropSpecialCharacters]="false"
            placeholder="Data de aniversário" formControlName="birthDate" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'generic.phone.ddi' | translate}}</mat-label>
          <input matInput disableRipple formControlName="ddi" mask="+00" placeholder="DDI" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'generic.phone.ddd' | translate}}</mat-label>
          <input matInput disableRipple formControlName="ddd" mask="(00)" placeholder="DDD" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'generic.phone.phone_number' | translate}}</mat-label>
          <input matInput disableRipple formControlName="phoneNumber" mask="0000-0000||00000-0000"
            placeholder="Número" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'generic.email' | translate}}</mat-label>
          <input matInput disableRipple formControlName="email" placeholder="Email" />
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="button-dialog">
        <button mat-flat-button mat-dialog-close (click)="onNoClick()">
          {{'generic.cancel_button' | translate}}
        </button>
        <button mat-flat-button [mat-dialog-close]="true" color="primary" [disabled]="dependentForm.invalid"
          (click)="save()">
          {{'generic.save_button' | translate}}
        </button>
      </div>
    </mat-dialog-actions>
  </div>
</div>