<div class="page" id="feedbackTab">
  <div fxLayout="row" fxLayoutAlign="start start">
    <button (click)="listFeedback()" color="primary" mat-button>
      <mat-icon> chevron_left </mat-icon>
    </button>
    <h2>{{'collaborator.colaborator_create.feedbacks.name'|translate}}</h2>
  </div>

  <div fxLayout="column" class="content-scroll" *ngIf="feedbackForm">
    <form [formGroup]="feedbackForm" fxLayout="column">
      <div class="formGroup1" fxFlex="100" fxLayoutGap="16px">
        <mat-form-field appearance="outline" fxFlex="25">
          <mat-label>{{'collaborator.colaborator_create.feedbacks.feedback_type.name'|translate}}</mat-label>
          <mat-select formControlName="feedbackType">
            <mat-option [value]="1">{{'collaborator.colaborator_create.feedbacks.feedback_type.unmotivated_professional'|translate}}</mat-option>
            <mat-option [value]="2">{{'collaborator.colaborator_create.feedbacks.feedback_type.change_of_position'|translate}}</mat-option>
            <mat-option [value]="3">{{'collaborator.colaborator_create.feedbacks.feedback_type.salary_increase'|translate}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25">
          <mat-label>{{'generic.reason' | translate}}</mat-label>
          <mat-select formControlName="reason">
            <mat-option [value]="1">{{'collaborator.colaborator_create.feedbacks.feedback_type.management_request'|translate}}</mat-option>
            <mat-option [value]="2">{{'collaborator.colaborator_create.feedbacks.feedback_type.customer_request'|translate}}</mat-option>
            <mat-option [value]="3">{{'collaborator.colaborator_create.feedbacks.feedback_type.contributor_requestFF'|translate}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25">
          <mat-label>{{'generic.project' | translate}}</mat-label>
          <input matInput disableRipple formControlName="project" />
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25">
          <mat-label>{{'collaborator.colaborator_create.feedbacks.manager'|translate}}</mat-label>
          <input matInput disableRipple formControlName="manager" />
        </mat-form-field>
      </div>

      <div class="formGroup1" fxFlex="200" fxLayoutGap="20px">
        <h2 class="h2G" appearance="outline" fxFlex="1''0">{{'collaborator.colaborator_create.feedbacks.management'|translate}}</h2>
        <mat-form-field appearance="outline" fxFlex="20">
          <mat-label>{{'generic.status' | translate}}</mat-label>
          <mat-select formControlName="status">
            <mat-option [value]="1">{{'collaborator.colaborator_create.feedbacks.status.scheduled'|translate}}</mat-option>
            <mat-option [value]="2">{{'collaborator.colaborator_create.feedbacks.status.completed'|translate}}</mat-option>
            <mat-option [value]="3">{{'collaborator.colaborator_create.feedbacks.status.feedback_return'|translate}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="20">
          <mat-label>{{'collaborator.colaborator_create.feedbacks.feedback_date'|translate}}</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="feedbackDate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="10">
          <mat-label>{{'collaborator.colaborator_create.feedbacks.hour'|translate}}</mat-label>
          <input
            matInput
            disableRipple
            formControlName="hourDate"
            mask="00:00" />
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="30">
          <mat-label>{{'collaborator.colaborator_create.feedbacks.feedback_date_retorn'|translate}}</mat-label>
          <input
            matInput
            [matDatepicker]="pickerReturn"
            formControlName="feedbackDateRetorn" />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerReturn"></mat-datepicker-toggle>
          <mat-datepicker #pickerReturn></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="10">
          <mat-label>{{'collaborator.colaborator_create.feedbacks.hour'|translate}}</mat-label>
          <input
            matInput
            disableRipple
            formControlName="hourDateRetorn"
            mask="00:00" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>{{'collaborator.colaborator_create.feedbacks.description'|translate}}</mat-label>
          <textarea
            class="text-area"
            matInput
            placeholder="Atividades"
            formControlName="managerDescription"
            rows="5"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>{{'collaborator.colaborator_create.feedbacks.improvement_points'|translate}}</mat-label>
          <textarea
            class="text-area"
            matInput
            placeholder="Atividades"
            formControlName="improvementPoints"
            rows="5"></textarea>
        </mat-form-field>
      </div>

      <h2>{{"sidenav.collaborator" | translate}}</h2>
      <div fxFlex="100" fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>{{'collaborator.colaborator_create.feedbacks.description'|translate}}</mat-label>
          <textarea
            class="text-area"
            matInput
            placeholder="Atividades"
            formControlName="collaboratorDescription"
            rows="5"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>{{'collaborator.colaborator_create.feedbacks.commitments'|translate}}</mat-label>
          <textarea
            class="text-area"
            matInput
            placeholder="Atividades"
            formControlName="commitment"
            rows="5"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div
    class="navigation-buttons"
    fxLayoutAlign="center end"
    *ngIf="feedbackId === 'novo'"
    class="saveButton"
    fxLayoutGap="16px">
    <button
      mat-flat-button
      color="primary"
      [disabled]="this.feedbackForm.invalid"
      (click)="saveFeedback()">
      {{'generic.save_button' | translate}}
    </button>
  </div>
  <div
    class="navigation-buttons"
    fxLayoutAlign="center end"
    *ngIf="feedbackId !== 'novo'"
    class="saveButton"
    fxLayoutGap="16px">
    <button
      mat-flat-button
      color="primary"
      (click)="saveEditFeedback()">
      {{'generic.save_button' | translate}}
    </button>
  </div>
</div>
