<div id="resumeExperienceTab" class="tab">
  <div class="content-scroll" *ngIf="experiencesArray" fxLayout="column">
    <h2 mat-dialog-title class="label">{{'resumes.resume_experience.experience_registration'|translate}}</h2>
    <div>
      <button
        class="edit-button"
        mat-flat-button
        color="primary"
        (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-list
      role="list"
      #experiencesList
      *ngIf="experiencesArray"
      class="list-group">
      <mat-list-item
        *ngFor="let experience of experienceList; let i = index"
        class="list-group-item"
        fxLayoutAlign="start start">
        <div class="list-item" fxLayout="column">
          <h2 class="label-office">
            {{ experience.office }}
          </h2>
          <span>
            {{ experience.companyName }}
          </span>
          <span class="label-gray">
            {{ experience.locality }}
          </span>
          
          <div class="date-resume-experience" fxLayout="row">

            <b>{{'generic.start_date'|translate}}</b>
            <span>{{ experience.startMonth}}</span>    
              <span> / {{ experience.startYear }}</span>    
          </div>

          <div class="date-resume-experience" fxLayout="row">

            <b>{{'generic.end_date'|translate}}</b>
            <span>{{ experience.terminusMonth}}</span>    
              <span> / {{ experience.terminusYear }}</span>    
          </div>
          <p></p>
          <span>
            {{ experience.description }}
          </span>
        </div>

        <div class="buttons-experience" fxLayout="row" fxLayoutAlign="end end">
          <button
            class="table-button"
            mat-button
            (click)="getExperience(experience, i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteExperience(i)" class="table-button" mat-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
