#resumeExperienceTab{

.add-button{
    border-style: groove;
    border-radius:10px;
    border-color: #753bbd;
    border-width: 3px;
}

.example-full-width {
    width: 100%;
  }

  .content-scroll {
    overflow: auto;
    height: calc(100vh - 210px);
  }

}

#resumeExperiencDialog{
  height: 150px;

  // .checkbox {
  //   margin-top: 15px;
  //   text-align: center;
  // }

  .content-scroll {
    overflow: auto;
    height: calc(100vh - 210px);
  }



}

