#resumeExperienceTab {
  .add-button {
    border-style: groove;
    border-radius: 10px;
    border-color: #753bbd;
    border-width: 3px;
  }

  b {
    margin-right: 9px;
  }

  .experience {
    // margin-top: 190px;
    width: 100%;
    margin-left: 390px;
    // float: right;
  }

  .resume-button {
    margin-left: 390px !important;
    margin-top: 4px;
    margin-right: 1px !important;
    position: absolute;

  }

  .description {
    width: 100%;
    max-width: 200px;
    overflow-wrap: break-word;
  }

  // .list-content-item{
  //   width: 100%;
  //   max-width: 515px;
    
  // }

  .label-gray {
    color: rgb(125, 123, 123);
    font-size: 16px;
    width: 520px;
  }

  .example-full-width {
    width: 100%;
  }

  // .content-scroll {
  //   overflow: auto;
  //   height: calc(100vh - 280px);
  //   margin-right: 10px !important;
  // }

  .list-group {
    margin-top: 10px;
  }

  .label-office {
    font-style: bold;
    font-size: 18px;
    margin-top: 7px;
    margin-left: 2px;
  }

  // .label-gray {
  //   color: rgb(125, 123, 123);
  //   font-size: 15px;
  // }

  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-list-base .mat-list-option .mat-list-item-conten {
    width: 100%;
    height: 100% !important;
    max-height: 500px;
  }

  .mat-list-item-content{
    // max-height: 100px !important;
    // height: inherit !important;
  }

  .list-group-item {
    border-style: groove;
    border-radius: 10px;
    border-color: #ff6a39;
    width: 45% !important;
    padding: 30px;
    margin-bottom: 60px !important;
    height: 100% !important;
    max-height: 250px;
    min-height: 250px;
    position: static;
    
  }

  .content-list{
    width: 100%;
    max-width: 1200px;
  }

  // mat-list{
  //   max-height: 600px;
  //   height: 100%;
  // }

  mat-list-item {
    padding: 0 !important;
    height: 100% !important;
    width: 65%;
  }

  .list-item {
    position: absolute !important;
    width: 100% !important;
    max-width: 550px !important;
    overflow: hidden !important;
    height: 100% !important;
    padding: 1px 25px 15px 1px;
  }

  .scroll-experience {
    overflow: auto;
    word-wrap: break-word;
    width: 100%;
  }

  .mat-icon-list {
    margin-top: 100px;
  }
}

#resumeExperiencDialog {
  .title {
    text-align: center;
  }

  .input-description {
    height: 100% !important;
    height: 300px;
    overflow: auto !important;
    width: 100% !important;
    max-width: 400px;
    white-space: wrap;
  }

  .button-dialog {
    margin-left: 140px;
    position: fixed;
  }

  .content-scroll {
    overflow: auto;
    height: calc(100vh - 280px);
    margin-left: 15px !important;
    position: absolute;
  }

  .style-list {
    padding: 20px;
  }
}
