<div id="resumeExperienceTab" class="tab">
  <div class="content-scroll" *ngIf="resumeForm" fxLayout="column">
    <h2 mat-dialog-title>Cadastro de experiência</h2>
    <div class="add-experience-button">
      <button
        class="add-button"
        mat-button
        color="white"
        (click)="openDialog()"
      >
        Adicionar experiênca
      </button>
    </div>

    <div class="list-group">
      <mat-list role="list" #experiencesList *ngIf="experiencesArray">
        <mat-list-item *ngFor="let experience of experiencesArray.value">
          <div class="list-group-item" fxLayout="column" fxLayoutAlign="space-around start" >
            <span class="label-office">
              {{ experience.office }}
            </span>
            <span>
              {{ experience.companyName }}
            </span>
            <span class="label-gray">
              {{ experience.locality }}
            </span>
            <span class="label-gray"
              ><b>Início:</b> {{ experience.startMonth
              }}<span> / {{ experience.startYear }}</span>
            </span>
            <span class="label-gray"
              ><b>Término:</b> {{ experience.terminusMonth
              }}<span> / {{ experience.terminusYear }}</span>
            </span>
            <p></p>
            <span>
              {{ experience.description }}
            </span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
