<div id="collaboratorDocumentTab" class="tab">
  <div class="content-scroll" *ngIf="collaboratorForm">
    <div fxLayout="row">
      <div class="envolti-table mat-elevation-z8" fxLayout="column">
        <table mat-table [dataSource]="data" #documentTable>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Documento</th>
            <td mat-cell *matCellDef="let document">
              {{ document.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="file">
            <th mat-header-cell *matHeaderCellDef>Ler</th>
            <td mat-cell *matCellDef="let document">
              <button
              class="table-button"
              mat-button
            >
              <mat-icon>visibility</mat-icon>
              
            </button>

            </td>
          </ng-container>

          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef>
              <button
                class="edit-button"
                mat-flat-button
                color="primary"
                (click)="openDialog()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </th>
            <td
              class="button-tab"
              mat-cell
              *matCellDef="let document; let index = index"
            >
              <button
                class="table-button"
                mat-button
                (click)="getDocument(document, index)"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                class="table-button"
                mat-button
                (click)="deleteDocument(index)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
