<div id="resumeRegisterTab" class="tab">
  <div class="content-scroll" *ngIf="resumeForm">
    <form (submit)="next()" [formGroup]="resumeForm" fxLayout="column">
      <div fxLayout="row">
        <div class="image-upload">
          <label for="fileInput">
            <img
              src="https://st.depositphotos.com/1734074/4228/v/450/depositphotos_42286141-stock-illustration-vector-man-with-mustache-in.jpg"
              alt="" />
          </label>
          <input type="file" id="fileInput" (change)="fileChanged($event)" />
        </div>

        <div fxFlex="100" fxLayoutGap="16px" fxFlexAlign="end">
          <mat-form-field fxFlex="33" appearance="outline">
            <mat-label>{{ 'generic.name' | translate }}</mat-label>
            <input matInput placeholder="Nome" formControlName="firstName" />
            <mat-error *ngIf="resumeForm &&
            resumeForm.controls['firstName'].hasError('required')">
            {{'validators.validator-required' | translate}} </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="33" appearance="outline">
            <mat-label>{{ 'generic.last_name' | translate }}</mat-label>
            <input matInput placeholder="Sobrenome" formControlName="lastName" />
            <mat-error *ngIf="resumeForm &&
            resumeForm.controls['lastName'].hasError('required')">
            {{'validators.validator-required' | translate}} </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="34" appearance="outline">
            <mat-label>{{ 'generic.login' | translate }}</mat-label>
            <input matInput placeholder="Login" formControlName="login" />
            <mat-error *ngIf="resumeForm &&
            resumeForm.controls['login'].hasError('required')">
            {{'validators.validator-required' | translate}} </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>{{ 'generic.cpf' | translate }}</mat-label>
          <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00" />
          <mat-error *ngIf="resumeForm &&
          resumeForm.controls['cpf'].hasError('required')">
          {{'validators.validator-required' | translate}} </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>{{ 'generic.birth_date' | translate }}</mat-label>
          <input matInput  formControlName="birthDate" placeholder="Data de aniversário" mask="00/00/0000" [showMaskTyped]="true" [dropSpecialCharacters]="false"/>
          <mat-error *ngIf="resumeForm &&
          resumeForm.controls['birthDate'].hasError('required')">
          {{'validators.validator-required' | translate}} </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>Sexo</mat-label>
          <mat-select matInput disableRipple formControlName="gender">
            <mat-option [value]="1">{{ "generic.gender.masculine" | translate }}</mat-option>
            <mat-option [value]="2">{{ "generic.gender.feminine" | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="resumeForm &&
          resumeForm.controls['gender'].hasError('required')">
          {{'validators.validator-required' | translate}} </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>Estado Civil</mat-label>
          <mat-select matInput disableRipple formControlName="maritalStatus">
            <mat-option [value]="1">{{
              'generic.marital_status.single' | translate
              }}</mat-option>
            <mat-option [value]="2">{{
              'generic.marital_status.married' | translate
              }}</mat-option>
            <mat-option [value]="3">{{
              'generic.marital_status.widower' | translate
              }}</mat-option>
            <mat-option [value]="4">{{
              'generic.marital_status.stable_union' | translate
              }}</mat-option>
          </mat-select>
          <mat-error *ngIf="resumeForm &&
          resumeForm.controls['maritalStatus'].hasError('required')">
          {{'validators.validator-required' | translate}} </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px" formGroupName="Address">
        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>{{ 'generic.address.cep' | translate }} </mat-label>
          <input matInput placeholder="CEP" formControlName="cep" type="text" mask="99999-999" />
          <mat-icon matSuffix style="cursor: pointer" (click)="getAddress()">
            search
          </mat-icon>
        </mat-form-field>


        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{ 'generic.address.street' | translate }}</mat-label>
          <input matInput placeholder="Rua" formControlName="street" />
        </mat-form-field>

        <mat-form-field fxFlex="15" appearance="outline">
          <mat-label>{{ 'generic.address.number' | translate }}</mat-label>
          <input matInput placeholder="Número" formControlName="number" mask="0||00||000||0000" />
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="outline">
          <mat-label>{{ 'generic.address.complement' | translate }}</mat-label>
          <input matInput placeholder="Complemento" formControlName="complement" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px" formGroupName="Address">


        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>{{ 'generic.address.district' | translate }}</mat-label>
          <input matInput placeholder="Bairro" formControlName="district" />
        </mat-form-field>

        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{ 'generic.address.city' | translate }}</mat-label>
          <input matInput placeholder="Cidade" formControlName="city" />
        </mat-form-field>


        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{'generic.address.state'|translate}}</mat-label>
          <mat-select matInput disableRipple formControlName="collaboratorTypes">
            <mat-option [value]="1">{{'generic.address.state_list.AC'|translate}}</mat-option>
            <mat-option [value]="2">{{'generic.address.state_list.AL'|translate}}</mat-option>
            <mat-option [value]="3">{{'generic.address.state_list.AP'|translate}}</mat-option>
            <mat-option [value]="4">{{'generic.address.state_list.AM'|translate}}</mat-option>
            <mat-option [value]="5">{{'generic.address.state_list.BA'|translate}}</mat-option>
            <mat-option [value]="6">{{'generic.address.state_list.CE'|translate}}</mat-option>
            <mat-option [value]="7">{{'generic.address.state_list.DF'|translate}}</mat-option>
            <mat-option [value]="8">{{'generic.address.state_list.ES'|translate}}</mat-option>
            <mat-option [value]="9">{{'generic.address.state_list.GO'|translate}}</mat-option>
            <mat-option [value]="10">{{'generic.address.state_list.MA'|translate}}</mat-option>
            <mat-option [value]="11">{{'generic.address.state_list.MT'|translate}}</mat-option>
            <mat-option [value]="12">{{'generic.address.state_list.MS'|translate}}</mat-option>
            <mat-option [value]="13">{{'generic.address.state_list.MG'|translate}}</mat-option>
            <mat-option [value]="14">{{'generic.address.state_list.PA'|translate}}</mat-option>
            <mat-option [value]="15">{{'generic.address.state_list.PB'|translate}}</mat-option>
            <mat-option [value]="16">{{'generic.address.state_list.PR'|translate}}</mat-option>
            <mat-option [value]="17">{{'generic.address.state_list.PE'|translate}}</mat-option>
            <mat-option [value]="18">{{'generic.address.state_list.PI'|translate}}</mat-option>
            <mat-option [value]="19">{{'generic.address.state_list.RJ'|translate}}</mat-option>
            <mat-option [value]="20">{{'generic.address.state_list.RN'|translate}}</mat-option>
            <mat-option [value]="21">{{'generic.address.state_list.RS'|translate}}</mat-option>
            <mat-option [value]="22">{{'generic.address.state_list.RO'|translate}}</mat-option>
            <mat-option [value]="23">{{'generic.address.state_list.RR'|translate}}</mat-option>
            <mat-option [value]="24">{{'generic.address.state_list.SC'|translate}}</mat-option>
            <mat-option [value]="25">{{'generic.address.state_list.SP'|translate}}</mat-option>
            <mat-option [value]="26">{{'generic.address.state_list.SE'|translate}}</mat-option>
            <mat-option [value]="27">{{'generic.address.state_list.TO'|translate}}</mat-option>
            <mat-option [value]="28">{{'generic.address.state_list.other'|translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{ 'generic.email' | translate }}</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="resumeForm &&
          resumeForm.controls['email'].hasError('required')">
          {{'validators.validator-required' | translate}} </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{ 'generic.site' | translate }}</mat-label>
          <input matInput placeholder="Site" formControlName="site" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <div formGroupName="Phone" fxFlex="100" fxLayoutGap="16px">
          <mat-form-field fxFlex="30" appearance="outline">
            <mat-label>{{ 'generic.phone.ddi' | translate }}</mat-label>
            <input matInput placeholder="DDI" formControlName="ddi" mask="+00" />
          </mat-form-field>

          <mat-form-field fxFlex="35" appearance="outline">
            <mat-label>{{ 'generic.phone.ddd' | translate }}</mat-label>
            <input matInput placeholder="DDD" formControlName="ddd" mask="(00)" />
          </mat-form-field>

          <mat-form-field fxFlex="35" appearance="outline">
            <mat-label>{{
              'generic.phone.phone_number' | translate
              }}</mat-label>
            <input matInput placeholder="Telefone" formControlName="phoneNumber" mask="0000-0000||00000-0000" />
          </mat-form-field>
        </div>
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{ 'generic.linkedIn' | translate }}</mat-label>
          <input matInput placeholder="Linkedin" formControlName="linkedin" />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>