#jobDetail {
  width: 100%;
  max-width: 1700px;
  .tab-group {
    width: 100%;
    cursor: pointer;
  }

  .tab-item {
    white-space: nowrap;
    overflow: hidden;

  }

  .content-scroll {
    overflow: auto;
    height: calc(100vh - 280px);

  }
  .title{
    margin-top: 1px;
  }

  .navigation-buttons {
    margin-top: 0px;
  }
}




