<div id="jobDetail" class="page">
  <div fxLayout="row" fxLayoutAlign="start start">
    <button (click)="backToList()" color="primary" mat-button>
      <mat-icon> chevron_left </mat-icon>
    </button>
    <h2 *ngIf="this.step == 1" class="title">{{'job.job_description' | translate}}</h2>
    <h2 *ngIf="this.step == 2" class="title">{{'job.job_interview_create.interview_registration' | translate}}</h2>
    <h2 *ngIf="this.step == 3" class="title">{{'job.job_interview_create.interview_follow_up' | translate}}</h2>
  </div>

  <div fxLayout="row" class="tab" fxLayoutGap="16px">
    <div
      fxLayout="column"
      class="tab-group"
      (click)="handleStep(1)"
      [ngClass]="{ done: step > 0, active: step == 1 }">
      <p class="tab-item">{{'job.name' | translate}}</p>
      <span class="tab-border"></span>
    </div>
    <div
      fxLayout="column"
      class="tab-group"
      (click)="handleStep(2)"
      [ngClass]="{ done: step > 1, active: step == 2 }">
      <p class="tab-item">{{'generic.interviews' | translate}}</p>
      <span class="tab-border"></span>
    </div>
    <div
      fxLayout="column"
      class="tab-group"
      (click)="handleStep(3)"
      [ngClass]="{ done: step > 2, active: step == 3 }">
      <p class="tab-item">{{'generic.curriculum' | translate}}</p>
      <span class="tab-border"></span>
    </div>
  </div>

  <app-job-detail-list-tab
    [hidden]="step != 1"
    (onChange)="handleChanges($event)">
  </app-job-detail-list-tab>
  <app-job-panel-tab [hidden]="step != 2" (onChange)="handleChanges($event)">
  </app-job-panel-tab>
  <app-job-resume-tab [hidden]="step != 3" (onChange)="handleChanges($event)">
  </app-job-resume-tab>

  <div class="navigation-buttons" fxLayoutAlign="center end" fxLayoutGap="16px">
    <button
      mat-flat-button
      *ngIf="step != 1"
      (click)="navigate('back')"
      color="primary">
      {{'generic.back_button' | translate}}
    </button>
    <button
      mat-flat-button
      *ngIf="step != 3"
      (click)="navigate('next')"
      color="primary">
      {{'generic.continue_button' | translate}}
    </button>
  </div>
</div>
