#jobList {
  max-width: 1650px;
  padding-bottom: 10px;

  table {
    width: 100%;
  }

  .envolti-table {
    overflow: auto;
    max-height: 625px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;

    .mat-column-iconAdd {
      width: 50px;
      padding-right: 5px !important;
    }

    .mat-column-link {
      width: 30px;
    }

    .button-tab {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  h2{
    color: #2F3133;
  }

  .new-btn {
    height: 40px;
    width: 100%;
    max-width: 100px;
    margin-top: 8px;
  }

  .search {
    width: 100%;
    max-width: 1650px;
    margin-right: 5px;
    mat-form-field {
      width: 100%;
    }
  }

  .job-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: 14px;
    color: #673ab7;
    text-decoration: underline;
    cursor: pointer;
  }

  .mat-sort-header-arrow {
    color: white !important;
  }
  // .iconAdd{
  //   display: block;
  //   margin: auto;
  // }
}
