#jobList{
    max-width: 1200px;

    
  .envolti-table {
    padding-bottom: 10px;
    overflow: auto;
    max-height: 350px;
  }

  .new-btn{
      height: 40px;
      width: 100%;
      max-width: 100px;
  }

  
}