.envolti-table{
    table {
      width: 100% ;
      background: white ;
    }
    table th {
      color: white ;
      border: 1px solid #673ab7 ;
      background: #673ab7 ;
    }
    
    table td {
    //   border-bottom: 0.1px solid #673ab7 ;
      height: 48px ;
      color: black ;
    }
  }