<div id="jobSkillDialog" mat-dialog-content>
  <form [formGroup]="knowledgeForm" fxLayout="column">
    <div fxFlex="100" fxLayoutGap="16px" fxLayout="row">
      <mat-form-field appearance="outline" fxFlex="70">
        <mat-label>Habilidade</mat-label>
        <input
          matInput
          placeholder="Habilidade"
          formControlName="name"
          *ngFor="let knowledge of knowledge"
          [value]="knowledge.name"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="70">
        <mat-label>Tempo de Experiencia</mat-label>
        <input
          matInput
          type="number"
          placeholder="Anos de Experiencia"
          formControlName="yearsExperience"
          *ngFor="let knowledge of knowledge"
          [value]="knowledge.yearsExperience"
        />
      </mat-form-field>
    </div>

    <div mat-dialog-actions fxLayout="row" fxFlexAlign="center">
      <button mat-flat-button (click)="onNoClick()">Cancelar</button>
      <button
        mat-flat-button
        cdkFocusInitial
        color="primary"
        (click)="saveKnowledge()"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
