<div id="collaboratorSkillTab" class="tab">
  <div class="customer-form">
    <form [formGroup]="collaboratorForm" fxLayout="column">
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field appearance="outline">
          <mat-label>tecnologia</mat-label>
          <mat-select matInput disableRipple formControlName="corporateName">
            <mat-option value="1">Java</mat-option>
            <mat-option value="2">C#</mat-option>
            <mat-option value="3">Python</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="35" appearance="outline">
          <mat-label>Tempo de experiencia</mat-label>
          <input
            matInput
            placeholder="Tempo de Experiencia"
            formControlName="corporateName"
          />
        </mat-form-field>

        <mat-checkbox
          class="checkbox"
          fxFlex="25"
          formControlName="corporateName"
          >Posição Atual</mat-checkbox
        >
      </div>
    </form>

    <div class="envolti-table" fxLayout="column">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Tecnologia</th>
          <td mat-cell *matCellDef="let skill">{{ skill.name }}</td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>
            | Tempo de experiencia(anos)
          </th>
          <td mat-cell *matCellDef="let skill">{{ skill.time }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
