#collaboratorSkillTab {

  padding-bottom: 10px;

  table{
    width: 100%;
  }

  .envolti-table {
    padding-bottom: 10px;
    overflow: auto;
    max-height: 200px;
  }

  .checkbox {
    margin-top: 15px;
  }

  .edit-button {
    height: 40px;
    margin-top: 8px;
  }

  .table-button {
    height: 30px;
    mat-icon{
      color: #673ab7;
    }
  }
}
