#collaboratorList {
  max-width: 1700px;


  .envolti-table {
    margin-top: 20px;
    overflow: auto;
    // height: 100%;
    // max-height: calc(100% - 60px);
    overflow: auto;
    position: relative;
    max-height: 565px;
    width: 100%;
    border-radius: 10px;

    .mat-column-icon {
      width: 50px;
    }

    .button-tab {
      white-space: nowrap;
      overflow: hidden;
    }
    
  }

  h2{
    color: #2F3133;
  }

  .new-btn {
    height: 40px;
    width: 100%;
    max-width: 100px;
    margin-top: 8px;
  }

  .search {
    width: 100%;
    max-width: 1650px;
    margin-right: 5px;
    mat-form-field {
      width: 100%;
    }
  }

  .active {
    width: 100%;
    max-width: 100px;
    background: #5de85d;
    border-radius: 10px;
    color: #fff;
    
  }

  .inactive {
    width: 100%;
    max-width: 100px;
    background: #ec3535;
    border-radius: 10px;
    color: #fff;
  }

  .iconAdd {
    // margin-right: 0!important;
    margin-left: 15px;
  }

  .mat-sort-header-arrow {
    color: white !important;
  }

  // .mat-sort-header-arrow{
  //   font-size: 35px;
  // }

  


  
}
