<div id="jobList" class="tab">
  <div class="content-scroll">
    <mat-list role="list" #experiencesList *ngIf="job" class="list-group">
      <mat-list-item class="list-group-item" fxLayout="row" fxFlex="100">
        <div class="text-div" fxLayout="column" fxFlex="40">
          <span class="label-office">
            {{ job.jobName }}
          </span>
          <span class="label-gray">
            <b>{{'generic.request' | translate}}:</b>
            {{ job.collaboratorRequesterId }}
          </span>
          <span class="label-gray">
            <b>{{'generic.client' | translate}}:</b>
            {{ job.customerId }}
          </span>
          <span class="label-gray">
            <b>{{'generic.opening_date' | translate}}:</b>
            {{ job.openingDate | date: 'dd/MM/yyyy' }}
          </span>
          <span class="label-gray">
            <b>{{'generic.status' | translate}}:</b>
            {{
              job.status == 1
                ? 'Processada'
                : job.status == 2
                ? 'Em Revisão'
                : job.status == 3
                ? 'Fechada'
                : job.status == 4
                ? 'Perdida'
                : 'Concluida'
            }}
          </span>
          <span class="label-gray">
            <b>{{'job.job_create.type_of_job.name' | translate}}:</b>
            {{
              job.typeOfJob == 1
                ? 'Aumento de Quadro'
                : job.typeOfJob == 2
                ? 'Promoção'
                : 'Fidelidade'
            }}
          </span>
          <span class="label-gray">
            <b>{{'job.job_create.temporary' | translate}}:</b>
            {{ job.temporary == true ? 'Sim' : 'Não' }}
          </span>
          <span *ngIf="job.temporary == true" class="label-gray">
            <b>{{'job.job_create.month_time' | translate}}:</b>
            {{ job.monthTime }}
          </span>
          <span class="label-gray">
            <b>{{'job.job_create.start_forecast' | translate}}:</b>
            {{ job.startForecast | date: 'dd/MM/yyyy' }}
          </span>
          <span class="label-gray">
            <b>{{'job.job_create.job_number' | translate}}:</b>
            {{ job.jobNumber }}
          </span>
          <span class="label-gray">
            <b>{{'job.job_create.type_of_contract' | translate}}:</b>
            {{
              job.typeOfContract == 1
                ? 'CLT'
                : job.typeOfContract == 2
                ? 'PJ'
                : 'Cooperado'
            }}
          </span>
          <span class="label-gray">
            <b>{{'job.job_create.workplace.name' | translate}}:</b>
            {{
              job.workplace == 1
                ? 'In Loco'
                : job.workplace == 2
                ? 'Home Office'
                : job.workplace == 3
                ? 'Hibrido'
                : 'Envolti'
            }}
          </span>
          <span class="label-gray">
            <b>{{'job.job_create.working_day' | translate}}:</b>
            {{ job.workingDay }}
          </span>
          <span class="label-gray">
            <b>{{'generic.seniority.name' | translate}}:</b>
            {{ job.Seniorities.intern == true ? 'Estagiário,' : '' }}
            {{ job.Seniorities.junior == true ? 'Junior,' : '' }}
            {{ job.Seniorities.pleno == true ? 'Pleno,' : '' }}
            {{ job.Seniorities.senior == true ? 'Senior.' : '' }}
          </span>
          <span class="label-gray">
            <b>{{'job.job_create.minimum_value' | translate}}:</b>
            {{ job.minimumValue }}
          </span>
          <span class="label-gray">
            <b>{{'job.job_create.maximum_value' | translate}}:</b>
            {{ job.maximumValue }}
          </span>
          <span class="label-gray">
            <b>{{'job.name' | translate}}:</b>
            {{ job.publish == true ? 'Publicada' : 'Não Publicada' }}
          </span>
          <span class="label-gray">
            <b>{{'generic.education.schooling.name' | translate}}:</b>
            {{
              job.schooling == 1
                ? 'Ensino Superior Completo'
                : job.schooling == 2
                ? 'Ensino Superior Incompleto'
                : 'Ensino Médio Completo'
            }}
          </span>
          <span class="label-gray" *ngFor="let language of job?.Languages">
            <b>{{'generic.education.languages.name' | translate}}:</b>
            {{ language.languageName }}
          </span>
          <span class="label-gray" *ngFor="let language of job?.Languages">
            <b>{{'generic.education.languages.fluency.name' | translate}}:</b>
            {{
              language.degreeOfInfluence == 1
                ? 'Leitura e Conversação'
                : language.degreeOfInfluence
                ? 'Conversação e Escrita'
                : 'Escrita e Leitura'
            }}
          </span>
          <span class="label-gray" *ngFor="let knowledge of job?.Knowledges">
            <b>{{'generic.skills.name' | translate}}:</b>
            {{ knowledge.name }}
          </span>
          <span class="label-gray" *ngFor="let knowledge of job?.Knowledges">
            <b>Tempo de Experiência:</b>
            {{ knowledge.yearsExperience }}
            {{ knowledge.typeOfPeriod == 1 ? 'Mês' : 'Anos' }}
          </span>
        </div>
        <div
          class="job-text"
          fxLayout="column"
          fxFlex="60"
          fxLayoutAlign="space-around center">
          <div fxLayout="column" class="activities-text">
            <span class="label-text">
              {{'job.job_create.skills.collaborator_activities' | translate}}
            </span>
            <span class="span-text"> {{ job.collaboratorActivities }}</span>
          </div>
          <div fxLayout="column">
            <span class="label-text"> {{'job.job_create.skills.desired_experience' | translate}}:</span>
            <span class="span-text">{{ job.skills }}</span>
          </div>
          <div fxLayout="column" class="knowledges-text">
            <span class="label-text">
              {{'job.job_create.skills.required_behavior' | translate}}:
            </span>
            <span class="span-text"> {{ job.attitudes }}</span>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
