<div id="jobList" class="tab">
  <div class="content-scroll">
    <mat-list role="list" #experiencesList *ngIf="job" class="list-group">
      <mat-list-item class="list-group-item" fxLayoutAlign="start start">
        <div fxLayout="column">
          <span class="label-office">
            {{ job.jobName }}
          </span>
          <span class="label-gray">
            <b>Solicitante:</b>
            {{ job.requester }}
          </span>
          <span class="label-gray">
            <b>Cliente:</b>
            {{ job.client }}
          </span>
          <span class="label-gray">
            <b>Data de Abertura:</b>
            {{ job.openingDate | date: "dd/MM/yyyy" }}
          </span>
          <span class="label-gray">
            <b>Status da Vaga:</b>
            {{
              job.status == 1
                ? "Processada"
                : job.status == 2
                ? "Em Revisão"
                : job.status == 3
                ? "Fechada"
                : job.status == 4
                ? "Perdida"
                : "Concluida"
            }}
          </span>
          <span class="label-gray">
            <b>Tipo da Vaga:</b>
            {{
              job.typeOfJob == 1
                ? "Aumento de Quadro"
                : job.typeOfJob == 2
                ? "Promoção"
                : "Fidelidade"
            }}
          </span>
          <span class="label-gray">
            <b>Temporario:</b>
            {{ job.temporary == true ? "Sim" : "Não" }}
          </span>
          <span *ngIf="job.temporary == true" class="label-gray">
            <b>Tempo de Contrato:</b>
            {{ job.monthTime }}
          </span>
          <span class="label-gray">
            <b>Previsão de Inicio:</b>
            {{ job.startForecast | date: "dd/MM/yyyy" }}
          </span>
          <span class="label-gray">
            <b>Número de Vagas:</b>
            {{ job.jobNumber }}
          </span>
          <span class="label-gray">
            <b>Tipo de Contratação:</b>
            {{
              job.typeOfContract == 1
                ? "CLT"
                : job.typeOfContract == 2
                ? "PJ"
                : "Cooperado"
            }}
          </span>
          <span class="label-gray">
            <b>Local de Trabalho:</b>
            {{
              job.workplace == 1
                ? "In Loco"
                : job.workplace == 2
                ? "Home Office"
                : job.workplace == 3
                ? "Hibrido"
                : "Envolti"
            }}
          </span>
          <span class="label-gray">
            <b>Jornada de Trabalho:</b>
            {{
              job.workingDay
            }}
          </span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
