#jobSkillTab {
  max-width: 1200px;

  .skills-text {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
  }

  .text-area {
    height: 150px;
  }

  .skill-list {
    overflow: auto;
    height: 100%;
    max-height: 150px;
  }

  .form {
    margin-top: 20px;
  }


  .envolti-table {
    padding-bottom: 10px;
    overflow: auto;
    max-height: 200px;
    max-width: 63%;
  }
}
