    #jobRegisterTab {
      max-width: 1650px;

      .content-box {
        text-align: center;
        padding-left: 150px;
        padding-top: 30px;
      }

      .checkbox-section {
        .text {
          margin-bottom: 5px;
          margin-top: 1px;
        }
      }
    }

  