<div id="jobRegisterTab" class="tab">
  <div class="content-scroll" *ngIf="jobForm">
    <form [formGroup]="jobForm" fxLayout="column" class="form">
    <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field
        fxFlex="30"
        class="example-full-width"
        appearance="outline"
        *ngIf="this.method === 'novo'"
      >
      <mat-label>{{'generic.request' | translate}}</mat-label>
        <input
          type="text"
          placeholder="Solicitante"
          aria-label="text"
          #filter
          matInput
          [matAutocomplete]="autoRequester"
          [formControl]="collaboratorControl"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #autoRequester="matAutocomplete"
          [displayWith]="displayFnRequester"
        >
          <mat-option
            *ngFor="let collaborator of filteredCollaborators"
            [value]="collaborator"
          >
            {{collaborator.firstNameCorporateName }}
            {{collaborator.lastNameFantasyName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field
      appearance="outline"
      *ngIf="this.method === 'edit'"
      fxFlex="25"
      class="example-full-width"
    >
    <mat-label>{{'generic.request' | translate}}</mat-label>
      <input
        disabled
        matInput
        disableRipple
        [value]="this.collaboratorControl.value"
      />
    </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>{{'generic.opening_date' | translate}}</mat-label>
          <input matInput mask="00/00/0000" [showMaskTyped]="true" [dropSpecialCharacters]="false" formControlName="openingDate" placeholder="Data de Abertura" />
        </mat-form-field>

        <mat-form-field fxFlex="35" appearance="outline">
          <mat-label>{{'generic.status' | translate}}</mat-label>
          <mat-select matInput disableRipple formControlName="status">
            <mat-option [value]="1">{{'job.job_create.status.processed' | translate}}</mat-option>
            <mat-option [value]="2">{{'job.job_create.status.in_revision' | translate}}</mat-option>
            <mat-option [value]="3">{{'job.job_create.status.closed' | translate}}</mat-option>
            <mat-option [value]="4">{{'job.job_create.status.lost' | translate}}</mat-option>
            <mat-option [value]="5">{{'job.job_create.status.completed' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">

        <mat-form-field
        fxFlex="30"
        class="example-full-width"
        appearance="outline"
        *ngIf="this.method === 'novo'"
      >
      <mat-label>{{'generic.client' | translate}}</mat-label>
        <input
          type="text"
          placeholder="Cliente"
          aria-label="text"
          #fiilter
          matInput
          [matAutocomplete]="autoCustomer"
          [formControl]="customerControl"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #autoCustomer="matAutocomplete"
          [displayWith]="displayFnCustomer"
        >
          <mat-option
            *ngFor="let customer of filteredCustomers"
            [value]="customer"
          >
            {{customer.corporateName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field
      appearance="outline"
      *ngIf="this.method === 'edit'"
      fxFlex="25"
      class="example-full-width"
    >
      <mat-label
        >{{'generic.client' | translate}}</mat-label
      >
      <input
        disabled
        matInput
        disableRipple
        [value]="this.customerControl.value"
      />
    </mat-form-field>
        <mat-form-field fxFlex="35" appearance="outline">
          <mat-label>{{'job.job_create.type_of_job.name' | translate}}</mat-label>
          <mat-select matInput disableRipple formControlName="typeOfJob">
            <mat-option [value]="1">{{'job.job_create.type_of_job.staff_increase' | translate}}</mat-option>
            <mat-option [value]="2">{{'job.job_create.type_of_job.promotion' | translate}}</mat-option>
            <mat-option [value]="3">{{'job.job_create.type_of_job.faithfulness' | translate}}</mat-option>
          </mat-select>
          <mat-error *ngIf="jobForm &&
          jobForm.controls['typeOfJob'].hasError('required')">
                {{'validators.validator-required' |  translate}} </mat-error>
        </mat-form-field>

        <mat-checkbox class="checkbox" color="primary" fxFlex="25" formControlName="temporary">
          {{'job.job_create.temporary' | translate}}</mat-checkbox>

        <mat-form-field fxFlex="25" appearance="outline" *ngIf="jobForm.controls['temporary'].value == true">
          <mat-label>{{'job.job_create.month_time' | translate}}</mat-label>
          <input placeholder="Tempo de Contrato" matInput formControlName="monthTime" type="text" />
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="35" appearance="outline">
          <mat-label>{{'job.job_create.name' | translate}}</mat-label>
          <input placeholder="Nome da Vaga" matInput formControlName="jobName" type="text" />
          <mat-error *ngIf="jobForm &&
          jobForm.controls['jobName'].hasError('required')">
                {{'validators.validator-required' |  translate}} </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="35" appearance="outline">
          <mat-label>{{'job.job_create.start_forecast' | translate}}</mat-label>
          <input matInput mask="00/00/0000" [showMaskTyped]="true" [dropSpecialCharacters]="false" formControlName="startForecast" placeholder="Previsão de Início" />
          <mat-error *ngIf="jobForm &&
          jobForm.controls['startForecast'].hasError('required')">
                {{'validators.validator-required' |  translate}} </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{'job.job_create.job_number' | translate}}</mat-label>
          <input placeholder="Número de Vagas" matInput formControlName="jobNumber" type="number" />
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>{{'job.job_create.type_of_contract' | translate}}</mat-label>
          <mat-select matInput disableRipple formControlName="typeOfContract">
            <mat-option [value]="1">{{'generic.clt' | translate}}</mat-option>
            <mat-option [value]="2">{{'generic.pj' | translate}}</mat-option>
            <mat-option [value]="3">{{'generic.cooperated' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>{{'job.job_create.workplace.name' | translate}}</mat-label>
          <mat-select matInput disableRipple formControlName="workplace">
            <mat-option [value]="1">{{'job.job_create.workplace.in_loco' | translate}}</mat-option>
            <mat-option [value]="2">{{'job.job_create.workplace.home_office' | translate}}</mat-option>
            <mat-option [value]="3">{{'job.job_create.workplace.hybrid' | translate}}</mat-option>
            <mat-option [value]="4">{{'job.job_create.workplace.envolti' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="checkbox-section" fxFlex="50" formGroupName="Seniorities">
          <section fxLayout="column">
            <span class="text" fxLayoutAlign="start">{{'generic.seniority.name' | translate}}</span>
            <div fxLayout="row" fxLayoutAlign="space-around">
              <mat-checkbox color="primary" formControlName="intern">{{'generic.intern' | translate}}</mat-checkbox>

              <mat-checkbox color="primary" formControlName="junior">{{'generic.seniority.junior' | translate}}
              </mat-checkbox>

              <mat-checkbox color="primary" formControlName="pleno">{{'generic.seniority.full' | translate}}
              </mat-checkbox>

              <mat-checkbox color="primary" formControlName="senior">{{'generic.seniority.senior' | translate}}
              </mat-checkbox>
            </div>
          </section>
        </div>
      </div>
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{'job.job_create.working_day' | translate}}</mat-label>
          <input placeholder="Jornada de Trabaho" matInput formControlName="workingDay" />
        </mat-form-field>

        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>{{'job.job_create.minimum_value' | translate}}</mat-label>
          <input type="number" placeholder="Valor Minimo" matInput prefix="R$" type="text" mask="separator.2" thousandSeparator="." separatorLimit="1000000000" formControlName="minimumValue" />
        </mat-form-field>

        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>{{'job.job_create.maximum_value' | translate}}</mat-label>
          <input type="number" placeholder="Valor Maximo" matInput prefix="R$" type="text" mask="separator.2" thousandSeparator="." separatorLimit="1000000000" formControlName="maximumValue" />
          <mat-error
          *ngIf="
            jobForm &&
            jobForm.controls['maximumValue'].hasError('mustMatch')
          "
        >O valor máximo deve ser maior que o valor minimo</mat-error
        >
        </mat-form-field>

        <mat-checkbox class="checkbox" color="primary" fxFlex="20" formControlName="publish">
          {{'job.job_create.post_vacancy' | translate}}
        </mat-checkbox>
      </div>
    </form>
  </div>
</div>