    #jobRegisterTab {
      max-width: 1650px;

      .checkbox {
        margin-top: 15px;
        text-align: center;
      }

      .checkbox-section {
        .text {
          margin-bottom: 5px;
        }
      }
    }
