#collaboratorEducationTab {
  padding-bottom: 10px;
  max-width: 1220px;

  table {
    width: 100%;
  }
  .form-tab {
    margin-top: 20px;
  }

  .envolti-table {
    margin-top: 20px;
    overflow: auto;
    max-height: calc(100% - 200px);
    width: 100%;

    .mat-column-icon {
      width: 50px;
    }

    .button-tab {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .mat-tab-label-active {
    border-bottom: 2px solid #673ab7;
    opacity: 1 !important;
  }

  .mat-ink-bar {
    height: 0px !important;
  }

  .lenguange-form {
    margin-top: 20px;
  }
}



#collaboratorEducationDialog{
  .button-dialog {
    margin-left: 140px;
  }
  
  .title-dialog {
    text-align: center;
  }
}

#collaboratorLanguageDialog{
  .button-dialog {
    margin-left: 140px;
  }
  
  .title-dialog {
    text-align: center;
  }
}
