<div id="collaboratorEducationTab" class="tab">
  <div class="content-scroll" *ngIf="collaboratorForm">
    <mat-tab-group animationDuration="0">
      <mat-tab label="Escolaridade">
        <ng-template mat-tab-label> Escolaridade </ng-template>
        <div fxLayout="row">
        <div class="envolti-table mat-elevation-z8" fxLayout="column">
          <table mat-table [dataSource]="collaboratorForm.controls['Educations'].value" #educationTable>
            <ng-container matColumnDef="schooling">
              <th mat-header-cell *matHeaderCellDef>Escolaridade</th>
              <td mat-cell *matCellDef="let education">
                {{ education.schooling }}
              </td>
            </ng-container>

            <ng-container matColumnDef="situation">
              <th mat-header-cell *matHeaderCellDef>Situação</th>
              <td mat-cell *matCellDef="let education">
                {{ education.situation }}
              </td>
            </ng-container>

            <ng-container matColumnDef="course">
              <th mat-header-cell *matHeaderCellDef>Curso</th>
              <td mat-cell *matCellDef="let education">
                {{ education.course }}
              </td>
            </ng-container>

            <ng-container matColumnDef="institution">
              <th mat-header-cell *matHeaderCellDef>Instituição</th>
              <td mat-cell *matCellDef="let education">
                {{ education.institution }}
              </td>
            </ng-container>

            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef></th>
              <td class="button-tab" mat-cell *matCellDef="let education; let index = index">
                <button class="table-button" mat-button (click)="getEducation(education, index)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteEducation(index)" class="table-button" mat-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedEducation; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedEducation"></tr>
          </table>
        </div>
        <button fxFlex="5" class="edit-button" mat-flat-button color="primary" (click)="openDialogEducation()"
          *ngIf="index == null">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      </mat-tab>

      <mat-tab label="Idiomas">
        <ng-template mat-tab-label> Idiomas </ng-template>
        <!-- <form
          class="lenguange-form"
          [formGroup]="languageForm"
          fxLayout="column"
        >
          <div fxFlex="100" fxLayoutGap="16px">
            

     

            <button
              fxFlex="5"
              class="edit-button"
              mat-flat-button
              color="primary"
              (click)="editLanguage()"
              *ngIf="index != null"
            >
              <mat-icon>save</mat-icon>
            </button>

            <button
              fxFlex="5"
              class="edit-button"
              mat-flat-button
              color="primary"
              (click)="cancelEdit()"
              *ngIf="index != null"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </form> -->
        <div fxLayout="row">
          <div class="envolti-table mat-elevation-z8" fxLayout="column">
            <table #languageTable mat-table [dataSource]="collaboratorForm.controls['Languages'].value">
              <ng-container matColumnDef="language">
                <th mat-header-cell *matHeaderCellDef>Idioma</th>
                <td mat-cell *matCellDef="let language">
                  {{ language.languageName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="fluency">
                <th mat-header-cell *matHeaderCellDef>Fluência</th>
                <td mat-cell *matCellDef="let language">
                  {{ language.degreeOfInfluence }}
                </td>
              </ng-container>

              <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef></th>
                <td class="button-tab" mat-cell *matCellDef="let language; let index = index">
                  <button class="table-button" mat-button (click)="getLanguage(language, index)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button (click)="deleteLanguage(index)" class="table-button" mat-button>
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedLanguage; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedLanguage"></tr>
            </table>
          </div>
          <button fxFlex="5" class="edit-button" mat-flat-button color="primary" (click)="openDialogLanguage()"
            *ngIf="index == null">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>