<div id="settingPortal" class="page">
    <div class="portal-content" fxLayout="row" fxLayoutAlign="center center"   > 
        <button (click)="navigateAd()" class="box-management-purple"  fxLayout="column">
          <img src="../../../assets/icons/purple-rocket-icon.png" class="rocket-button"/>
          <a >Active Directory</a>
        </button>
        <button (click)="navigateEmail()" class="box-management-blue" fxLayout="column">
          <img src="../../../assets/icons/blue-rocket-icon.png" class="rocket-button"  />
          <a>Gestão de Emails</a>
        </button>
    </div>
  </div>
