#jobResume {
    width: 100%;
    max-width: 1650px;
  
    .envolti-table {
      overflow: auto;
      max-height: 625px;
      border-radius: 10px;
  
      .mat-column-icon {
        width: 50px;
      }
  
      .button-tab {
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .candidate-button {
        background: none !important;
        border: none;
        padding: 0 !important;
        font-size: 14px;
        color: #673ab7;
        text-decoration: underline;
        cursor: pointer;
      }
  
    .search {
      width: 100%;
      max-width: 1650px;
      margin-right: 5px;
  
      mat-form-field {
        width: 100%;
      }
    }
  
  }

#jobList {
  
  .mat-list-item {
    height: auto !important;
  }
  
  .content-scroll {
    overflow: auto;
    height: calc(100vh - 290px);
  }
  
  .list-group {
    margin-top: 36px;
    width: 100%;
  }
  
  .label-office {
    font-style: bold;
    font-size: 25px;
    flex-wrap: wrap;
  }

  ng-deep.label-gray {
    color: rgb(125, 123, 123);
    font-size: 17px;
    margin: 0!important;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    // padding-top: 10px;
  }

  .label-text {
    color: black;
    font-size: 17px;
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .span-text {
    color: rgb(125, 123, 123);
    font-size: 15px;
    margin-bottom: 10px;
  }

  .text-div {
    height: 100%;
    margin-top: 0px!important;
  }

  .job-text {
    height: 100%;
    width: 100%;
    // margin-top: 80px;
    // margin-left: 25%;
  }

  .activities-text {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .knowledges-text {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .list-group-item {
    border-style: groove;
    border-radius: 10px;
    border-color: #ff6a39;
    width: 100% !important;
    padding: 15px;
    margin-bottom: 16px;
  }

  .mat.list.item {
    padding: 0 !important;
    height: 100% !important;
    max-height: 600px;
  }

  .mat-icon-list {
    margin-top: 100px;
  }

  .job-icon {
    margin-right: 2px !important;
  }

  ng-deep.buttons-experience {
    height: 100%;
    max-height: 40px;
    margin-top: 5px;
    width: 100%;
    // margin-left: 30px;
    // float: right;
  }

  .backList{
    cursor: pointer;
  }

  .experience{
    border-style: groove;
    border-radius: 10px;
    border-color: #ff6a39;
    width: 100% !important;
    padding: 15px;
    margin-bottom: 16px;
  }

} 
p{
  margin-bottom: 3px!important;
}

  