<div id="collaboratorRegisterTab" class="tab">
  <div class="content-scroll" *ngIf="collaboratorForm">
    <form (submit)="next()" [formGroup]="collaboratorForm" fxLayout="column">
      <div fxLayout="row">
        <div class="image-upload">
          <label for="fileInput">
            <img src="{{ url }}" alt="" />
          </label>
          <input type="file" id="fileInput" (change)="fileChanged($event)" />
        </div>

        <div fxFlex="100" fxLayoutGap="16px" fxFlexAlign="end">
          <mat-form-field fxFlex="30" appearance="outline">
            <mat-label>{{'collaborator.colaborator_create.collaborator_type.name'|translate}}</mat-label>
            <mat-select matInput disableRipple formControlName="collaboratorTypes">
              <mat-option [value]="1">{{'collaborator.colaborator_create.collaborator_type.clt'|translate}}</mat-option>
              <mat-option [value]="2">{{'collaborator.colaborator_create.collaborator_type.pj'|translate}}</mat-option>
              <mat-option [value]="3">{{'collaborator.colaborator_create.collaborator_type.cooperated'|translate}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
              collaboratorForm && collaboratorForm.controls['collaboratorTypes'].hasError('required')
            ">
              Selecione o Tipo de Contrato</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="35" appearance="outline">
            <mat-label>{{'generic.office'|translate}}</mat-label>
            <input matInput placeholder="Cargo" formControlName="office" />
          </mat-form-field>

          <mat-form-field fxFlex="20" appearance="outline">
            <mat-label>Data Admissão</mat-label>
            <input matInput mask="00/00/0000" formControlName="admissionDate" placeholder="Data Admissão" />
          </mat-form-field>


          <mat-checkbox class="checkbox" color="primary" fxFlex="10" formControlName="active"
            fxLayoutAlign="center center">Inativo</mat-checkbox>
        </div>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{
            collaboratorForm.controls['collaboratorTypes'].value !== 2
            ? 'Nome'
            : 'Razão Social'
            }}</mat-label>
          <input matInput placeholder="Nome" formControlName="firstNameCorporateName" />
        </mat-form-field>
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>
            {{
            collaboratorForm.controls['collaboratorTypes'].value !== 2
            ? 'Sobrenome'
            : 'Nome Fantasia'
            }}
          </mat-label>
          <input matInput formControlName="lastNameFantasyName" placeholder="Sobrenome" />
        </mat-form-field>

        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>{{'generic.gender.name'|translate}}</mat-label>
          <mat-select matInput disableRipple formControlName="gender">
            <mat-option [value]="1">{{'generic.gender.feminine'|translate}}</mat-option>
            <mat-option [value]="2">{{'generic.gender.masculine'|translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>



      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="35" appearance="outline"
          *ngIf="collaboratorForm.controls['collaboratorTypes'].value !== 2">
          <mat-label>{{'generic.cpf'|translate}}</mat-label>
          <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00" />
          <mat-error *ngIf="
              collaboratorForm && collaboratorForm.controls['cpf'].hasError('required')
            ">CPF inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="35" appearance="outline"
          *ngIf="collaboratorForm.controls['collaboratorTypes'].value == 2">
          <mat-label>{{'collaborator.colaborator_create.cnpj'|translate}}</mat-label>
          <input matInput placeholder="CNPJ" formControlName="cnpj" mask="00.000.000/0000-00" />
        </mat-form-field>

        <mat-form-field *ngIf="collaboratorForm.controls['collaboratorTypes'].value !== 2" fxFlex="35"
          appearance="outline">
          <mat-label>{{'generic.birth_date'|translate}}</mat-label>
          <input matInput formControlName="birthDate" mask="00/00/0000" placeholder="Data Aniversário" />
        </mat-form-field>
        <mat-form-field fxFlex="35" appearance="outline">
          <mat-label>{{'generic.marital_status.name'|translate}}</mat-label>
          <mat-select matInput formControlName="maritalStatus">
            <mat-option [value]="1">{{'generic.marital_status.single'|translate}}</mat-option>
            <mat-option [value]="2">{{'generic.marital_status.married'|translate}}</mat-option>
            <mat-option [value]="3">{{'generic.marital_status.widower'|translate}}</mat-option>
            <mat-option [value]="4">{{'generic.marital_status.stable_union'|translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayoutGap="16px">


        <div formGroupName="Phone" fxFlex="100" fxLayoutGap="16px">
          <mat-form-field fxFlex="15" appearance="outline">
            <mat-label>{{'generic.phone.ddi'|translate}}</mat-label>
            <input matInput placeholder="DDI" formControlName="ddi" mask="+00" />
          </mat-form-field>

          <mat-form-field fxFlex="15" appearance="outline">
            <mat-label>{{'generic.phone.ddd'|translate}}</mat-label>
            <input matInput placeholder="DDD" formControlName="ddd" mask="(00)" />
          </mat-form-field>

          <mat-form-field fxFlex="70" appearance="outline">
            <mat-label>{{'generic.phone.phone_number'|translate}}</mat-label>
            <input matInput placeholder="Telefone" formControlName="phoneNumber" mask="0000-0000||00000-0000" />
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="40" appearance="outline"
          *ngIf="collaboratorForm.controls['collaboratorTypes'].value == 2">
          <mat-label>{{'collaborator.colaborator_create.state_registration'|translate}}</mat-label>
          <input matInput placeholder="Inscrição Estadual" formControlName="stateRegistration" />
        </mat-form-field>

        <mat-form-field fxFlex="40" appearance="outline"
          *ngIf="collaboratorForm.controls['collaboratorTypes'].value == 2">
          <mat-label>{{'collaborator.colaborator_create.municipal_inscription'|translate}}l</mat-label>
          <input matInput placeholder="Inscrição municipal" formControlName="municipalInscription" />
        </mat-form-field>

        <mat-form-field *ngIf="collaboratorForm.controls['collaboratorTypes'].value == 2" fxFlex="20"
          appearance="outline">
          <mat-label>{{'generic.birth_date'|translate}}</mat-label>
          <input matInput formControlName="birthDate" mask="00/00/0000" placeholder="Data Aniversário" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px" formGroupName="Address">
        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>{{'generic.address.cep'|translate}} </mat-label>
          <input matInput placeholder="CEP" formControlName="cep" type="text" mask="99999-999" />
          <mat-icon matSuffix style="cursor: pointer" (click)="getAddress()">
            search
          </mat-icon>
        </mat-form-field>

        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{'generic.address.street'|translate}}</mat-label>
          <input matInput placeholder="Rua" formControlName="street" />
        </mat-form-field>

        <mat-form-field fxFlex="15" appearance="outline">
          <mat-label>{{'generic.address.number'|translate}}</mat-label>
          <input type="number" matInput placeholder="Número" formControlName="number" />
        </mat-form-field>
        <mat-form-field fxFlex="45" appearance="outline">
          <mat-label>{{'generic.address.state'|translate}}</mat-label>
          <input matInput placeholder="Estado" formControlName="state" />
        </mat-form-field>

      </div>

      <div fxFlex="100" fxLayoutGap="16px" formGroupName="Address">
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{'generic.address.complement'|translate}}</mat-label>
          <input matInput placeholder="Complemento" formControlName="complement" />
        </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>{{'generic.address.district'|translate}}</mat-label>
          <input matInput placeholder="Bairro" formControlName="district" />
        </mat-form-field>

        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{'generic.address.city'|translate}}</mat-label>
          <input matInput placeholder="Cidade" formControlName="city" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{'generic.email'|translate}}</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{'generic.site'|translate}}</mat-label>
          <input matInput placeholder="Site" formControlName="site" />
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{'generic.login'|translate}}</mat-label>
          <input matInput placeholder="Login" formControlName="login" />
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{'generic.linkedIn'|translate}}</mat-label>
          <input matInput placeholder="Linkedin" formControlName="linkedin" />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>