<div id="applicationTable" class="tab">
  <div class="content-scroll" *ngIf="resumeForm">
    <div class="envolti-table mat-elevation-z8" fxLayout="column">
      <table mat-table [dataSource]="filteredApplicationList">
        <ng-container matColumnDef="jobName">
          <th mat-header-cell *matHeaderCellDef>{{'job.job_list.name'|translate}}</th>
          <td mat-cell *matCellDef="let application">
            {{ application.jobName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef>{{'generic.client'|translate}}</th>
          <td mat-cell *matCellDef="let application">
            {{  application.customer.corporateName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="applicationDate">
          <th mat-header-cell *matHeaderCellDef>{{'generic.application_date'|translate}}</th>
          <td mat-cell *matCellDef="let application">
            {{ application.openingDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="returnDate">
          <th mat-header-cell *matHeaderCellDef>{{'generic.return_date'|translate}}</th>
          <td mat-cell *matCellDef="let application"></td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>{{'generic.status'|translate}}</th>
          <td mat-cell *matCellDef="let application">
            {{
            application.status == 1
            ? 'Processada'
            : application.status == 2
            ? 'Em revisão'
            : application.status == 3
            ? 'Encerrada'
            : application.status == 4
            ? 'Perdida'
            : 'Concluída'
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="responsible">
          <th mat-header-cell *matHeaderCellDef>{{'generic.requester'|translate}}</th>
          <td mat-cell *matCellDef="let application">
            {{ application.collaborator.firstNameCorporateName }}
            {{application.collaborator.lastNameFantasyName}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedApplication; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedApplication"></tr>
      </table>
    </div>
  </div>
</div>