<div id="applicationTable" class="tab">
  <div class="content-scroll" *ngIf="resumeForm">
    <div class="envolti-table mat-elevation-z8" fxLayout="column">
      <table mat-table [dataSource]="filteredApplicationList">
        <ng-container matColumnDef="jobName">
          <th mat-header-cell *matHeaderCellDef>{{'job.job_list.name'|translate}}</th>
          <td mat-cell *matCellDef="let application">
            {{ application.jobName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef>{{'generic.client'|translate}}</th>
          <td mat-cell *matCellDef="let application">
            {{  application.customer.corporateName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="request">
          <th mat-header-cell *matHeaderCellDef>Solicitante</th>
          <td mat-cell *matCellDef="let application">
            {{ application.collaborator.firstNameCorporateName }}
            {{ application.collaborator.lastNameFantasyName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="workplace">
          <th mat-header-cell *matHeaderCellDef>Localidade</th>
          <td mat-cell *matCellDef="let application">
            {{  application.workplace == 1
              ? 'In Loco'
              : application.workplace == 2
              ? 'Home Office'
              : application.workplace == 3
              ? 'Hibrido'
              : 'Envolti' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="temporary">
          <th mat-header-cell *matHeaderCellDef>Temporária</th>
          <td mat-cell *matCellDef="let application">
            {{  application.temporary == true ? 'Sim' : 'Não' }}
          </td>
        </ng-container>



        <ng-container matColumnDef="seniority">
          <th mat-header-cell *matHeaderCellDef>Senioridades</th>
          <td mat-cell *matCellDef="let application">
            {{ application.Seniorities.intern == true ? 'Estagiário' : '' }}
            {{ application.Seniorities.junior == true ? '-Junior' : '' }}
            {{ application.Seniorities.pleno == true ? '-Pleno,' : '' }}
            {{ application.Seniorities.senior == true ? '-Senior.' : '' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>{{'generic.status'|translate}}</th>
          <td mat-cell *matCellDef="let application">
            {{
            application.status == 1
            ? 'Processada'
            : application.status == 2
            ? 'Em revisão'
            : application.status == 3
            ? 'Encerrada'
            : application.status == 4
            ? 'Perdida'
            : 'Concluída'
            }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedApplication; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedApplication"></tr>
      </table>
    </div>
  </div>
</div>